$border-margin: 0px 45px 0px 45px;
$zero-webkit-margin: 0px;

body {
  background-color: white;
  width: 600px;
  height: 2200px;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
}

.rs-Newsletter-tips-highlightstory {
  width: 600px;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.rs-logo {
  font-size: x-large;
  width: 141px;
  height: 36px;
  margin-top: 20px;
  object-fit: contain;
} 

.View-in-your-browser {
  width: 99px;
  height: 13px;
  font-family: AlrightSansLT;
  font-size: 10px;
  text-align: left;
  color: #ec5447;
  margin-top: 33px;
  margin-right: 70px;
}

.intro-header {
  display: flex;
  height: 205px;
}

.main-text-header {
  width: 320px;
}

.Summer-newsletter {
  width: 509px;
  height: 90px;
  font-family: TiemposText;
  font-size: 44px;
  line-height: 1.02;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0a273c;
  -webkit-margin-before: $zero-webkit-margin;
  -webkit-margin-after: $zero-webkit-margin;
  -webkit-margin-start: $zero-webkit-margin;
  -webkit-margin-end: $zero-webkit-margin;
}

.z {
  width: 273px;
  height: 34px;
  font-family: AlrightSansLT;
  font-size: 14px;
  line-height: 1.21;
  text-align: left;
  color: #85939e;
}

.Rectangle {
  width: 600px;
  height: 1367px;
  background-color: #f7f8f9;
}

section {
  margin: $border-margin 
}
/* .trac-conf-pic-banner {

} */

.trac {
  width: 53px;
  height: 13px;
  font-family: AlrightSansLT;
  font-size: 10px;
  font-weight: bold;
  color: #60cbe2;
  -webkit-margin-before: $zero-webkit-margin;
  -webkit-margin-after: $zero-webkit-margin;
}

.trac-conf {
  width: 208px;
  height: 23px;
  font-family: TiemposHeadline;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #0a273c;
}

.Hi-There-Were-stil {
  width: 330px;
  height: 164px;
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: -0.1px;
  text-align: left;
  color: #0a273c;
}

.Hi-There-Were-stil .text-style-1 {
  color: #ec5447;
}

.-Tips-for-Action {
  width: 199px;
  height: 32px;
  font-family: TiemposText;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #0a273c;
}

.All-the-things-you-n {
  width: 291px;
  height: 18px;
  font-family: AlrightSansLT;
  font-size: 14px;
  text-align: center;
  color: #0a273c;
}

.Rectangle-3 {
  width: 510px;
  height: 136px;
  background-color: #ffffff;
  border: solid 1px #eceef0;
}

.rect-content {
  width: 320px;
  height: 32px;
  font-family: AlrightSansLT;
  font-size: 12px;
  text-align: left;
  color: #85939e;
}

.rect-footer {
  width: 61px;
  height: 13px;
  font-family: AlrightSansLT;
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #60cbe2;
}

.Your-favourite-blog {
  width: 302px;
  height: 32px;
  font-family: TiemposText;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #0a273c;
}

.rect-blog {
  width: 242px;
  height: 275px;
  background-color: #ffffff;
  border: solid 1px #eceef0;
}

.rect-blog-title {
  width: 212px;
  height: 22px;
  font-family: TiemposHeadline;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #0a273c;
}

.rect-blog-content {
  width: 212px;
  height: 90px;
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #0a273c;
}

.rect-cro {
  width: 600px;
  height: 50px;
  background-color: #ec5447;
}

.We-now-do-CRO-let-u {
  width: 444px;
  height: 19px;
  font-family: AlrightSansLT;
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  color: #ffffff;
}

.We-now-do-CRO-let-u .text-style-1 {
  font-weight: 500;
}

.Made-in-Canada {
  width: 108px;
  height: 18px;
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 14px;
  text-align: left;
  color: #85939e;
}

.Made-in-Canada .text-style-1 {
  font-weight: bold;
}

.unsubscribe-btn {
  width: 93px;
  height: 16px;
  font-family: AlrightSansLT;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #0a273c;
}

.View-in-browser {
  width: 121px;
  height: 16px;
  font-family: AlrightSansLT;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #0a273c;
}

.trademark-footer {
  width: 315px;
  height: 16px;
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 12px;
  text-align: left;
  color: #85939e;
}